# Gjennomgang av tidligere seminarer

Vi kjører en gjennomgang av tidligere seminarer for å friske opp kunnskapen. Oppsettet blir nå litt annerledes, da vi prøver å kjøre det likt som eksamensoppsettet.

Vi hørte at dere ville at vi skulle gå gjennom sympy og pandas, så i hovedsak blir disse to bibliotekene gjennomgått i dette seminaret.

Oppsettet blir slik:

## Flervalgsspørsmål

Vi starter med noen flervalgsspørsmål for å friske opp kunnskapen. Disse spørsmålene vil dekke grunnleggende konsepter i sympy og pandas.

Etterpå blir det kortsvarspørsmål og programmeringsoppgaver.

### 1. Hvordan importerer du sympy og definerer variabelen x?

- A) import sympy as sp; x = sp.symbols(’x’)

- B) from sympy import symbols; x = symbols(x)

- C) import sympy; x = sympy.var(’x’)

- D) a & b

In [1]:
# Ditt svar her

### Hva gjør df.dropna() i pandas?

- A) Fjerner rader med minst én NaN-verdi

- B) Erstatter NaN med 0

- C) Returnerer antall NaN

- D) Lager en kopi av DataFrame uten endringer

In [ ]:
# Ditt svar her

## Hvordan beregner du den deriverte av $x^2$ med sympy?

- A) sp.diff(x**2, x) gir 2x

- B) sp.diff(x**2) gir x

- C) sp.derive(x**2) gir x2

- D) sp.integrate(x**2, x) gir 2x

In [ ]:
# Ditt svar her

2*x

## Hvilken funksjon i sympy løser et likningssystem eller en ligning?

- A) sp.integrate(...)

- B) sp.diff(...)

- C) sp.plot(...)

- D) sp.solve(...)

In [ ]:
# Ditt svar her

## Hvordan konverterer du en liste lst til en pandas Series?

- A) pd.Series(lst)

- B) pd.DataFrame(lst)

- C) np.array(lst)

- D) list(lst)

In [ ]:
# Ditt svar her

## Hvilket statement lager en tom liste i Python?

- A) lst = {}

- B) lst = []

- C) lst = ()

- D) lst = ”

In [ ]:
# Ditt svar her

## Hvilken av følgende er en korrekt måte å lese en CSV-fil i pandas?

- A) pd.read_csv(’fil.csv’)

- B) pd.open(’fil.csv’)

- C) pandas.load(’fil.csv’)

- D) np.read(’fil.csv’)

In [ ]:
# Ditt svar her

## Hvordan velger du kolonnen "A" fra DataFrame df?

- A) df.A

- B) df[’A’]

- C) Begge metodene over

- D) Ingen av dem

In [ ]:
# Ditt svar her

## Hva gjør pandas.DataFrame.describe()?

- A) Fjerner NaN-verdier

- B) Sorterer DataFrame

- C) Viser statistiske oppsummeringer (mean, std, min, max ...)

- D) Oppretter en ny DataFrame

In [ ]:
# Ditt svar her

## Kortsvar 

Vi følger eksamensoppsettet og går gjennom noen kortsvarsoppgaver.

Totalt kan dere få 30 av 100 poeng på denne delen av eksamen.

## Forklar kort hva en DataFrame er i pandas og nevn to vanlige operasjoner man gjør på en DataFrame

In [ ]:
import pandas as pd

data = {'A': [-1, 0, 2, 5],
'B': [10, 20, 30, 40]}

df = pd.DataFrame(data)

df

   A   B
0 -1  10
1  0  20
2  2  30
3  5  40

In [ ]:
# Ditt svar her

## Bruk sympy for å finne kritiske punkter (derivert lik 0) for funksjonen

$$ f(x) = x^3 - 6x^2 + 9x + 15 $$

Skriv de nødvendige uttrykkene (ikke utfør beregningene for hånd).

In [7]:
# Ditt svar her