Dette oppgavesettet er lagd av seminarlederne og vi har ikke sett hvordan eksamen vil se ut. Oppgavene kan være enklere eller vanskeligere enn det som kommer på eksamen eller helt utenom det som kommer på eksamen.

# Pandasoppgaven Del 1



## Forklar kort hva en DataFrame er i pandas og nevn to vanlige operasjoner man gjør på en DataFrame


### LF

En DataFrame er en todimensjonal datastruktur i pandas med rader og kolonner, lik et regneark. Vanlige operasjoner inkluderer:

- Filtrering: df[df[’A’] > 0] - gjør at vi får en ny dataframe som inneholder kun rader hvor A > 0.

```{python}
df[df['A'] > 0]
```


Hva skjer:

- Vi bruker betingelsen df[’A’] > 0 for å lage en boolsk maske som velger rader der kolonnen A har verdier større enn 0.
- Vi bruker denne masken til å indeksere DataFrame df, noe som gir oss en ny DataFrame med bare de radene som oppfyller betingelsen.
- Resultatet er en DataFrame som inneholder kun radene hvor kolonnen A har verdier større enn 0.

```{python}

df.groupby('A').mean()

```


Hva skjer:

- Vi bruker groupby-metoden på DataFrame df for å gruppere radene basert på unike verdier i kolonnen A.
- Deretter bruker vi mean()-metoden for å beregne gjennomsnittet av hver gruppe for de andre kolonnene i DataFrame.
- Resultatet er en ny DataFrame der hver rad representerer en unik verdi fra kolonnen A, og kolonnene inneholder gjennomsnittsverdiene for de tilhørende gruppene.



## Lag et datasett og finn hvilke personer som er under 30 år gamle.


Datasettet skal være navnet på personen, høyden i cm og alderen i år for Per, Pål og Ola. 
Per er 30 år gammel og 180 cm høy, Pål er 25 år gammel og 175 cm høy, Ola er 35 år gammel og 170 cm høy.

In [84]:
import pandas as pd



personer = {
    "Navn": ["Per", "Pål", "Ola"],
    "Høyde": [180, 175, 170],
    "Alder": [30, 25, 35]
}
personer_df = pd.DataFrame(personer)
personer_df

  Navn  Høyde  Alder
0  Per    180     30
1  Pål    175     25
2  Ola    170     35

## Finn hvilke personer som er under 30 år gamle.

In [85]:
aldre_under_30 = personer_df[personer_df["Alder"] < 30]
print(aldre_under_30)

  Navn  Høyde  Alder
1  Pål    175     25




### Legg til en ny kolonne hvor vi ser hvor mye hver person vokser per år basert på høyde og alder.

In [86]:

personer_df["Vekst per år"] = personer_df["Høyde"] / personer_df["Alder"]
print(personer_df)

  Navn  Høyde  Alder  Vekst per år
0  Per    180     30      6.000000
1  Pål    175     25      7.000000
2  Ola    170     35      4.857143


## Opprett en DataFrame som inneholder informasjon om to forskjellige produkter:



**Kolonner**: "Egenskap", "Antall", "Lagerplass"

**Data**:

* "Eple", 35 , 100 
* "Banan", 40 , 100

Skriv ut hele DataFrame-en.

In [87]:

data = {'Egenskap': ["Eple", "Banan"],
'Antall': [5, 40],
'Lagerplass': [100, 100],}

df = pd.DataFrame(data)
df

  Egenskap  Antall  Lagerplass
0     Eple       5         100
1    Banan      40         100

## Legg til en ny rad for produktet "Vannmelon" med antall 20 og lagerplass 50.

In [88]:
df.loc[len(df)] = ["Vannmelon", 20, 50]
df

    Egenskap  Antall  Lagerplass
0       Eple       5         100
1      Banan      40         100
2  Vannmelon      20          50

## Legg til en ny kolonne for pris per enhet for hvert produkt. 
Fyll inn prisene som følger: Eple - 10 kr, Banan - 5 kr, Vannmelon - 15 kr.

In [89]:
df['Pris'] = [10, 5, 15]
df

    Egenskap  Antall  Lagerplass  Pris
0       Eple       5         100    10
1      Banan      40         100     5
2  Vannmelon      20          50    15

## Legg til en ny rad for et produkt "Appelsin" med antall 50, lagerplass 80 og pris per enhet 10 kr

In [90]:
df.loc[len(df)] = ["Appelsin", 30, 80, 10]
df

    Egenskap  Antall  Lagerplass  Pris
0       Eple       5         100    10
1      Banan      40         100     5
2  Vannmelon      20          50    15
3   Appelsin      30          80    10

## Lag en ny kolonne hvor du regner ut hvor mye plass hver frukt tar av lagerplassen sin.

In [91]:
df["Andel av lagerplass brukt"] = (df["Antall"]) / df["Lagerplass"] 
df

    Egenskap  Antall  Lagerplass  Pris  Andel av lagerplass brukt
0       Eple       5         100    10                      0.050
1      Banan      40         100     5                      0.400
2  Vannmelon      20          50    15                      0.400
3   Appelsin      30          80    10                      0.375

## Finn gjennomsnittsantallet av alle produktene i DataFrame-en.

<!-- Finn gjennomsnittsantallet for alle produktene i DataFrame-en. -->

In [92]:
df["Antall"].mean()

23.75

# Sympy oppgaven Del 1
## Bruk sympy til å derivere funksjonene: $f, g, \beta$ nedenfor.






$$ f(x) = x^2 - 6x^2 + 9x + 15 $$

Skriv de nødvendige uttrykkene (ikke utfør beregningene for hånd).

In [93]:
import sympy as sp
x = sp.symbols ('x')
f = x **2 - 6* x **2 + 9* x + 15
derivert_f = sp.diff(f, x)
derivert_f

9 - 10*x

For hvilke x verdier er $f'(x) = 0$?

In [94]:
lost_for_null = sp.Eq(derivert_f, 0)
sp.solve(lost_for_null, x)

[9/10]

$$
g(x) = 2x^3 - 4x^2 + 3x - 5
$$

In [95]:
g = 2*x**3 - 4*x**2 + 3*x - 5
derivert_g = sp.diff(g, x)
derivert_g

6*x**2 - 8*x + 3

$$
\beta(x) = \frac{1}{x^2 + 1}
$$

In [96]:
beta = 1 / (x**2 + 1)
derivert_beta = sp.diff(beta, x)
derivert_beta

-2*x/(x**2 + 1)**2

# Pandasoppgaven Del 2 Logikk og funksjoner



### Anbefalt ekstraoppgave: Beregn Totalt Sparebeløp
En person setter inn $1000$ kr på en sparekonto hver måned. Banken gir $2$% årlig rente, men renten legges ikke til før på slutten av året.

Skriv en `for`-løkke som simulerer 5 år med sparing og beregner hvor mye penger personen har etter denne perioden.

In [97]:
månedlig_sparing = 1000 # Startverdier
rente = 0.02  # 2% årlig rente
år = 5        # 5 år med sparing
saldo = 0     # Starter med 0 kronasjer

# Løkke for å beregne saldo over flere år
for i in range(1, år + 1):
    saldo += månedlig_sparing * 12          # Legg til sparing for året
    saldo *= (1 + rente)                    # Legg til årlig rente, på slutten av året.
    print(f"Etter {i} år: {saldo:.2f} kr")  # Print resultatet, med avrundede verdier
print(f"Totalt etter {år} år: {saldo:.2f} kr")  # Print totalen etter alle årene

Etter 1 år: 12240.00 kr
Etter 2 år: 24724.80 kr
Etter 3 år: 37459.30 kr
Etter 4 år: 50448.48 kr
Etter 5 år: 63697.45 kr
Totalt etter 5 år: 63697.45 kr

## Automatisk påfyll av varer

Lag en funksjon med en while løkke som øker antallet av varen med 10 om gangen hvis lagerbeholdningen av en vare er under 10%, frem til den når over 50%.

In [98]:
df

    Egenskap  Antall  Lagerplass  Pris  Andel av lagerplass brukt
0       Eple       5         100    10                      0.050
1      Banan      40         100     5                      0.400
2  Vannmelon      20          50    15                      0.400
3   Appelsin      30          80    10                      0.375

In [99]:
def fyll_paa_til_halvfullt(dataframe):
    df_kopi = dataframe.copy() #bare god praksis å kopiere dataframes i funksjoner for å unngå uventede endringer i originaldataene.
    
    # Finn indekser for rader hvor andelen er under 0.1
    lav_beholdning_indeks = df_kopi[df_kopi["Andel av lagerplass brukt"] < 0.1].index
    
    # Gå gjennom hver vare som trenger påfyll
    for indeks in lav_beholdning_indeks:
        print(f"Fyller på {df_kopi.loc[indeks, 'Egenskap']}...")
        # While-løkke som kjører til andelen er over 0.5
        while df_kopi.loc[indeks, "Andel av lagerplass brukt"] < 0.5:
            df_kopi.loc[indeks, 'Antall'] += 10
            # Oppdater andelen for å sjekke betingelsen i neste iterasjon
            df_kopi["Andel av lagerplass brukt"] = df_kopi["Antall"] / df_kopi["Lagerplass"]
            print(f"  Nytt antall: {df_kopi.loc[indeks, 'Antall']}, Ny andel: {df_kopi.loc[indeks, 'Andel av lagerplass brukt']:.2f}")
            
    return df_kopi

df_oppdatert = fyll_paa_til_halvfullt(df)
df_oppdatert

Fyller på Eple...
  Nytt antall: 15, Ny andel: 0.15
  Nytt antall: 25, Ny andel: 0.25
  Nytt antall: 35, Ny andel: 0.35
  Nytt antall: 45, Ny andel: 0.45
  Nytt antall: 55, Ny andel: 0.55

    Egenskap  Antall  Lagerplass  Pris  Andel av lagerplass brukt
0       Eple      55         100    10                      0.550
1      Banan      40         100     5                      0.400
2  Vannmelon      20          50    15                      0.400
3   Appelsin      30          80    10                      0.375

## Finn mest lønnsomme produkt

For å finne ut hvilket produkt som gir høyest pris i forhold til plassen det tar, kan vi lage en ny kolonne `Pris per lagerenhet`.

Pris per lagerenhet = Pris / Lagerplass

In [100]:
df['Pris_per_lagerenhet'] = df['Pris'] / df['Lagerplass']
df.set_index('Egenskap', inplace=True)
df['Pris_per_lagerenhet'].idxmax()

'Vannmelon'

## Sympy oppgaven Del 2

Bruk sympy til å løse likningssystemet:

$$
f(x) = 300 - x, \quad g(x) = 4x - 10
$$

In [101]:

f = 300 - x
g = 4*x - 10
ligninger = sp.solve(f - g, x)
print(f"Løsning: {ligninger[0]}") #[0] siden sp.solve returnerer en liste

Løsning: 62

## Vi definerer to funksjoner:

$$ f(x) = x^2 - 3x^2 + 3x + 10 \quad \quad \text{og} \quad \quad g(x) = x^2 +1$$

og vi ønsker å finne den deriverte i funksjonene.

In [102]:

# definerer funksjoner
f = x **2 - 3* x **2 + 3* x + 10
g = x ** 2 + 1

losning_x = sp.diff(f, x)
losning_g = sp.diff(g, x)
display(losning_x)
display(losning_g)

3 - 4*x

2*x


## Finn den deriverte og hvor den er lik 0

Finner hvor den deriverte er lik null og løse ligningen med sp.solve() for å finne x-verdi(ene).

In [103]:
lost_for_null = sp.Eq(losning_x, 0)
losning_toppunkter = sp.solve(lost_for_null, x)

print(losning_toppunkter)

[3/4]


## Ekspandere uttrykk. `sp.expand` til å utvide uttrykket $(x+y)^2$ til $x^2 + 2xy + y^2$

In [104]:

x, y, z = sp.symbols('x y z') #Definerer symboler
expr = (x+y)**2 # Skriver uttrykket vårt
new_expr = sp.expand(expr) # Utvider uttrykket
new_expr

x**2 + 2*x*y + y**2



### Faktorisere uttrykket $x^2 + 2xy + y^2$

In [105]:
org_expr = sp.factor(new_expr)
org_expr

(x + y)**2


## Sympy Cobb-Douglas
$$f(K, L) = A \cdot K^{\alpha} \cdot L^{\beta}$$



lag en funksjon som definerer Cobb-Douglas funksjonen, hvor vi setter $A=1$, $\alpha = 0.2$ og $\beta = 1-\alpha$.

In [106]:
A = 1
alpha, beta = 0.2, 0.8
def cobb_douglas(K, L, A, alpha, beta):
    return A * (K ** alpha) * (L ** beta)

### Finn den partiell deriverte av Cobb-Douglas funksjonen (mhp $K$).

In [107]:
#Definer symboler for kapital (K), arbeidskraft (L), og konstanter A, alpha, beta
A, alpha, beta, K, L = sp.symbols('A alpha beta K L')

#Finn partielle deriverte med hensyn til kapital (K)
dY_dK = sp.diff(cobb_douglas(K, L, A, alpha, beta), K)
dY_dK

A*K**alpha*L**beta*alpha/K


## Vi ser på et enkelt tilbuds- og etterspørselmarked:



$$Q_e = 200 - 4p, \; \; \; \; \; \;  Q_t = 10 + 6p,$$

hvor $Q_e$ er etterspørselen og $Q_t$ er tilbud og $p$ er prisen.

1. Bruk SymPy til å finne likevektsprisen og -mengden.

In [108]:
import sympy as sp
# Definerer symboler
qe, qt,p = sp.symbols('q_e q_t p')

# Definerer tilbud og etterspørsel
qe = 200 - 4 *p
qt = 10 + 6*p

likevekt_pris = sp.solve(sp.Eq(qe,qt),p)[0]

# Finner likevektskvantum
likevekts_kvantum = qe.subs(p, likevekt_pris)

likevekts_kvantum, likevekt_pris

(124, 19)

## Lag en funksjon som generaliserer: gitt en etterspørselfunksjon og en tilbudsfunksjon, finn likevekten.

In [109]:
# Vi trenger ikke dette men kanskje lurt å gjøre til eksamen
#qe, qt,p = sp.symbols('q_e q_t p')

# Definerer tilbud og etterspørsel
#qe = 200 - 4 *p
#qt = 10 + 6*p

def finn_likevekt(qe, qt, p):
    likevekt_pris = sp.solve(sp.Eq(qe,qt),p)[0]
    likevekt_mengde = qt.subs(p, likevekt_pris)
    return likevekt_pris , likevekt_mengde


finn_likevekt(qe, qt, p)

(19, 124)




## Sparingsoppgave
En person ønsker å spare opp $100,000$ kr til egenkapital mot boligkjøp. Hver måned setter de inn et fast beløp på kontoen sin.
Du skal lage en funksjon som:

* Bruker en while-løkke for å beregne hvor mange måneder det tar å nå $100,000$ kr.
* Bruker en for-løkke for å skrive ut saldoen for hver måned.
* Bruker if/elif/else for å gi forskjellige meldinger underveis basert på saldoen.
* Legger alt i en funksjon, slik at vi kan kalle `sparing()` for å kjøre programmet.

In [110]:


def sparing(sparemål, saldo, måneder, månedlig_sparing):

    # While-løkke for å beregne sparing hvor mye penger spart
    while saldo < sparemål:
        måneder += 1
        saldo += månedlig_sparing

        # If/elif/else for statusmeldinger underveis i spareprosessen :)
        if saldo >= 100000:
            print(f"Måned {måneder}: Du har spart {saldo:.2f} kr! Målet er nådd!")
        elif saldo >= 50000:
            print(f"Måned {måneder}: Du har spart {saldo:.2f} kr! Halvveis der!")
        elif saldo >= 25000:
            print(f"Måned {måneder}: Du har spart {saldo:.2f} kr! God start!")
        else:
            print(f"Måned {måneder}: Sparte {månedlig_sparing} kr, saldo: {saldo:.2f} kr")

    print(f"Gratulerer! Du har nådd sparemålet på {sparemål} kr etter {måneder} måneder!")

# Kjør funksjonenen vi har lagd
sparing(100000, 0, 0, 12000)

Måned 1: Sparte 12000 kr, saldo: 12000.00 kr
Måned 2: Sparte 12000 kr, saldo: 24000.00 kr
Måned 3: Du har spart 36000.00 kr! God start!
Måned 4: Du har spart 48000.00 kr! God start!
Måned 5: Du har spart 60000.00 kr! Halvveis der!
Måned 6: Du har spart 72000.00 kr! Halvveis der!
Måned 7: Du har spart 84000.00 kr! Halvveis der!
Måned 8: Du har spart 96000.00 kr! Halvveis der!
Måned 9: Du har spart 108000.00 kr! Målet er nådd!
Gratulerer! Du har nådd sparemålet på 100000 kr etter 9 måneder!